body {
    background-image: url(/static/images/cat_photo_000.jpeg);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    -webkit-text-stroke: 20px, black;
}

.hero {
    text-align: center;
    padding: 40px;
}

.subtitle {
    color: #cbd5e1;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.card {
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    padding: 20px;
    backdrop-filter: blur(8px);
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}

.drac {
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    padding: 20px;
    backdrop-filter: blur(8px);
    display: inline-block;
    margin: 5px;
}

.photo_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 50px;
    padding: 60px;
    margin: 0 auto;
    justify-items: center;
}

.disclaimer {
    justify-self: flex-end;
    padding-bottom: 20px;
}