<!DOCTYPE html>
<html>
<head>
    <title>Cat Photo Foundation</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>

    <div class="hero">
        <h1 id="logo">CAT PHOTO FOUNDATION</h1>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/donate">Donate</a>
    </nav>

    <div class="container">
        <div class="card">
            <h1>Donate to the Cat Photo Foundation</h1>
            <h3>Please put your photos below!</h3>
            <form action="/api/donate" method="post">

            </form>
        </div>
    </div>

    <script src="/static/js/donate.js"></script>

</body>
</html>
