<!DOCTYPE html>
<html>
<head>
    <title>Cat Photo Foundation</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>

    <div class="hero">
        <h1 id="logo">CAT PHOTO FOUNDATION</h1>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/donate">Donate</a>
    </nav>

    <div class="container">
        <div class="card">
            <h1>Hi! This is the Cat Photo Foundation official website!</h1>
            <h3>You can donate by going to the donate page</h3>
            <div id="photo_grid"></div>
        </div>
    </div>
    <div class="disclaimer">
        <p>DELTARUNE, Ralsei, and Jevil are intellectual property of Toby Fox. This website is not affiliated with or endorsed with Toby Fox</p>
    </div>

    <script src="/static/js/index.js"></script>

</body>
</html>
